<div class="container">
<p id="notice"><%= notice %></p>

<h1>Tenants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <div class="card-product mb-3">
      <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
      <div class="card-product-infos">
        <h2 class="text-reset"><%= link_to "#{tenant.first_name} #{tenant.last_name}" , tenant %> </h2>
         <p> <%= tenant.apartment.building %> <%= tenant.apartment.floor %> <%= tenant.apartment.door.capitalize %></p>
       <%#= link_to 'Show', tenant %>
       <%#= link_to 'Edit',  edit_tenant_path(tenant) %>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>
<%#= link_to 'New tenant', new_tenant_path %>


</div>
