<div class="container">
  <p id="notice"><%= notice %></p>

  <p> Tenant </p>

  <ul>
    <li>Name: <%= @tenant.first_name %> <%= @tenant.last_name %> </li>
    <li>Contact: <%= @tenant.phone %></li>
    <li>Email: <%= @tenant.email  %> </li>
  </ul>



  <%= link_to 'Edit', edit_tenant_path(@tenant) %> |




</div>

