<div class="container">
  <p id="notice"><%= notice %></p>

<h1>Apartments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
    <div class="card-product mb-3">
      <img src="https://images.unsplash.com/photo-1477907961416-f44287c1ef83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" />
      <div class="card-product-infos">
        <h2 class="text-reset"><%= link_to apartment.building, apartment %></h2>
        <p><%= apartment.floor %> floor - door <%= apartment.door %>.</p>
       <%= link_to 'Show', apartment %> |
       <%#= link_to 'Edit', edit_apartment_path(apartment) %>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Home', root_path %>
<%= link_to 'New Apartment', new_apartment_path %>

</div>



