<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
<!-- APARTMENT INFO -->
  <div class="row">
    <h1 class="text-center "><%= @apartment.building.capitalize %> -  APARTMENT <%= @apartment.floor %> <%= @apartment.door.capitalize %> </h1>
  </div>
<!-- -------------------------------- -->

<!-- TENANT INFO -->
  <div class="row mb-3 mt-3">
    <div class="col">
      <h2>TENANT</h2>
    </div>
    <div class="col-1">
      <%#= link_to new_apartment_tenant_path(@apartment) do %>
       <!-- <i class="fas fa-plus-square text-primary" data-toggle="tooltip" data-placement="top" title="Add new consumption"></i>
      <%# end %> -->
      <%= link_to edit_apartment_path(@apartment) do %>
        <i class="far fa-edit text-decoration-none" data-toggle="tooltip" data-placement="top" title="edit apartment"></i>
      <% end %>
      |<%= link_to apartments_path do %>
        <i class="fas fa-arrow-left text-primary text-decoration-none"data-toggle="tooltip" data-placement="top" title="back"></i>
      <% end %>
    </div>
  </div>

  <div class="row table-responsive">
    <table class="table text-center ">
    <thead class="table-primary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <%# if @tenant %>
    <tbody>
      <tr>
        <td><%= @tenant.first_name %> <%= @tenant.last_name %></td>
        <td><%= @tenant.phone %></td>
        <td><%= @tenant.email %></td>
      </tr>
    </tbody>

    </table>

    <%# else %>
  <%#= render 'add_tenant', tenant: @tenant %>
    <%# end %>
  </div>
<!-- ------------------------------------------ -->
  <div class="row mb-3 mt-3">
    <h2>ELECTRICITY</h2>
  </div>
  <div class="row mb-2">
    <h3>Consumptions</h3>
  </div>
  <div class="class mb-2">
    <%= link_to new_apartment_consumption_path(@apartment) do %>
      <i class="fas fa-plus-square text-primary" data-toggle="tooltip" data-placement="top" title="Add new consumption"></i>
    <% end %>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table text-center table-sm table-hover">
        <thead class="table-primary">
         <tr>
           <th scope="col">Initial Date</th>
           <th scope="col">Reading</th>
           <th scope="col">Final Date</th>
           <th scope="col">Reading</th>
           <th scope="col">Consumption</th>
           <th scope="col">Status</th>
         </tr>
        </thead>
        <tbody>
          <% @apartment.consumptions.each do |consumption| %>
           <tr>
            <td><%= consumption.start %></td>
            <td><%= consumption.inireading %></td>
            <td><%= consumption.end %></td>
            <td><%= consumption.lastreading %></td>
            <td><%= consumption.lastreading - consumption.inireading %> </td>
            <!-- <td><%#= consumption.paid %></td> -->
            <%= simple_form_for [@apartment, @consumption] do |f| %>
            <td>
              <%= f.input :paid %></td>
              <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>




