<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">

    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2> Apartment at: <%= @apartment.building %></h2>
        <p> <%= @apartment.floor %> floor - door <%= @apartment.door %> .</p>
        <p>created by : <%= @apartment.user.email %> </p>
        |<%= link_to 'Edit', edit_apartment_path(@apartment) %>|
        <%#= link_to 'Back', apartments_path %>
      </div>
    </div>
  </div>
  <%#= link_to 'Edit', edit_apartment_path(@apartment) %>
  |<%= link_to 'Back', apartments_path %>|


</div>

