<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
<!-- APARTMENT INFO -->
  <div class="row">
    <h1><%= @apartment.building %> Apartment <%= @apartment.floor %> <%= @apartment.door %> </h1>
  </div>
<!-- -------------------------------- -->

<!-- TENANT INFO -->
  <div class="row">
    <h2>TENANT</h2>
  </div>

  <div class="row">
    <div class="col-4">
      <h4>Name</h4>
    </div>
    <div class="col-4">
      <h4>Phone</h4>
    </div>
    <div class="col-4">
      <h4>email</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p>Jon Doe</p>
    </div>
    <div class="col-4">
      <p>999 999 999</p>
    </div>
    <div class="col-4">
      <p>jon@doe.com</p>
    </div>
  </div>
<!-- ------------------------------------------ -->
<div class="row">
  <h2>ELECTRICITY</h2>
</div>
<div class="row">
  <h3>Consumptions</h3>
</div>
<div class="row">
  <div class="col-2">
    <h4>Initial Date</h4>
  </div>
  <div class="col-2">
    <h4>Reading</h4>
  </div>
  <div class="col-2">
    <h4>Final Date</h4>
  </div>
  <div class="col-2">
    <h4>Reading</h4>
  </div>
  <div class="col-2">
    <h4>Consumption</h4>
  </div>
  <div class="col-2">
    <h4>Payment</h4>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p>Initial Date - code</p>
  </div>
  <div class="col-2">
    <p>Reading - code</p>
  </div>
  <div class="col-2">
    <p>Final Date- code</p>
  </div>
  <div class="col-2">
    <p>Reading- code</p>
  </div>
  <div class="col-2">
    <p>Consumption- code</p>
  </div>
  <div class="col-2">
    <p>Payment- code</p>
  </div>
</div>




<!--
-----------------------------------------------------------------------------
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2> Apartment at: <%= @apartment.building %></h2>
        <p> <%= @apartment.floor %> floor - door <%= @apartment.door %> .</p>
        <p>created by : <%= @apartment.user.email %> </p>
        |<%#= link_to 'Edit', edit_apartment_path(@apartment) %>|
        <%#= link_to 'Back', apartments_path %>
      </div>
    </div>


------------------------------------------------------------------------------- -->
<%= link_to 'Edit', edit_apartment_path(@apartment) %>
|<%= link_to 'Back', apartments_path %>|
</div>

