<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>
<!-- APARTMENT INFO -->
  <div class="row">
    <h1 class="text-center "><%= @apartment.building %> Apartment <%= @apartment.floor %> <%= @apartment.door %> </h1>
  </div>
<!-- -------------------------------- -->

<!-- TENANT INFO -->
  <div class="row mb-3 mt-3">
    <div class="col">
      <h2>TENANT</h2>
    </div>
    <div class="col-2">
      <%= link_to 'Edit', edit_apartment_path(@apartment) %>|
      <%= link_to 'Back', apartments_path %>
    </div>

  </div>
<div class="row">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jon Doe</td>
      <td>999 999 999/td>
      <td>jon@doe.com</td>
    </tr>
  </tbody>
  </table>
</div>

<!-- ------------------------------------------ -->
<div class="row mb-3 mt-3">
  <h2>ELECTRICITY</h2>
</div>
<div class="row mb-3">
  <h3>Consumptions</h3>
</div>

<div class="row">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Initial Date</th>
      <th scope="col">Reading</th>
      <th scope="col">Final Date</th>
      <th scope="col">Reading</th>
      <th scope="col">Consumption</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @apartment.consumptions.each do |consumption| %>
      <td>Initial Date - code</td>
      <td><%= consumption.inireading %></td>
      <td>Final Date- code</td>
      <td><%= consumption.lastreading %></td>
      <td><%= consumption.lastreading - consumption.inireading %> </td>
      <td><%= consumption.paid %></td>
      <% end %>
    </tr>
  </tbody>
  </table>
</div>







</div>


