<div class="container">
  <p id="notice"><%= notice %></p>



  <ul>
    <li>This apartment is located at: <%= @apartment.building %></li>
    <li>on the <%= @apartment.floor %> floor and door <%= @apartment.door %> </li>
    <p>tenant : <%= @apartment.user_id %> </p>
  </ul>


  <%= link_to 'Edit', edit_apartment_path(@apartment) %> |
  <%= link_to 'Back', apartments_path %>


</div>

